/* Google fonts import */
/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Subheadings */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Walter+Turncoat&display=swap');
/* Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=Permanent+Marker&family=Walter+Turncoat&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    /*Google Fonts*/
    font-family: 'Maven Pro', sans-serif;
}


/* Header */
header {
    background-color: lightcoral;
    display: flex; /* Added flex to parent element */
    align-items: center;        /* Vertically center items */
    justify-content: space-between; /* Space out children: spacer, h1, nav */
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    color: white;
    margin: 0; /* Remove default margin */
}

p {
    font-family: 'exo', sans-serif;
}

header a {
    color: inherit; /* Removes blue color */
    text-decoration: none; /* Removes underline */
    justify-content: center; /* Center the link */
}

/* Navigation */
nav {
    background-color: lightgreen;
    text-align: right; /* Aligns nav items to the right */
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}